<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>maze_restitution</key>
	<integer>0</integer>
	<key>ball_friction</key>
	<integer>0</integer>
	<key>ball_touch_impulse</key>
	<integer>0</integer>
	<key>ball_mass</key>
	<integer>0</integer>
	<key>maze_friction</key>
	<integer>0</integer>
</dict>
</plist>
